* {
    margin: 0;
    padding: 0;
  }

body {
    color: #0a0a0a;
    font-family: Helvetica, Arial, sans-serif;
  }

header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

header a {
    text-decoration: none;
    color: #fffffb;
}

header nav {
    float: right;
  margin: 7px 0;
}

header nav ul li {
    display: inline;
}
  
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;

}
 

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fcfcfc;
    margin: 0;
    display: inline;
}

.About-Me{
    background: #037f8d;
    color: #fcfcfc;
    overflow:auto;
   
}

.About-Me img {
    width: 25%;
    float: left;
}

.About-Me h3 {
    font-size: 32px;
  margin-bottom: 8px;
  text-align: left;
}

.About-Me h4 {
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.Contact {
    text-align: center;
    background: #037f8d;
}
.Contact-Info iframe {
    width: 400px;
    height: 400px;
}

.Work-Projects {
    text-align: right;
    width: 1200px;
    margin: auto;
    background: #39a6b2;
    color: #fcfcfc;
    overflow:auto;
}
.Work-Projects img {
    width: 50%;
    float: left;
  }
.Project-Descriptions {
    padding: 50px;
    text-align: right;
    float: right;
    width: 65%;
    background: #39a6b2;
    color: #fcfcfc;
    line-height: 1.5;
  }
.Project-Descriptions h4 {
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 10px;
  }